.editor-wrapper {
    width: 80%;
    height: 600px;
    position: relative;
}

.editor-screen {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    border: 1px solid var(--text-primary);
    position: relative;
    text-align: left;
}

.editor-placeholder{
    position: absolute;
    top: 10px;
    left: 10px;
}

